/*div {
	border: 1px red solid;
}*/

.answer {
	width: 100%;
    height: 30px;
    padding: 5px;
    margin: 5px;
    text-align: center;
    font-size: 30px;
    height: 50px;
}

.answer:hover {
	background: lightgreen;
}

#playagain {
    background: none;
    width: 100px;
    margin: auto;
    text-align: center;
    border: 1px black solid;
}
#playagain:hover {
	background: lightgreen;
}